/**
* Netease
* By 狱杰
* Link: https://github.com/obentnet/neteasemusic
*/
body{}
.title-des{
    padding: 10% 25% 0 25%;
    text-align: center;
}
.help{
    padding: 2% 25% 0 25%;
}
.title{
    font-size: 3em;
}
.core-main{
    padding: 5% 25% 0 25%;
}
.mdui-card{
    padding: 5em;
}
.song-cover>img{
    height: 15em;
    border-radius: 50%;
}
.song-title{
    font-size: 1.5em;
}
@media screen and (max-width: 768px){
    .title-des{
        padding: 20% 0% 0 0%;
        text-align: center;
    }
    .mdui-card{
        padding: 2em;
    }
    .song-cover>img{
        height: auto;
    }
    .core-main{
        padding: 20% 0% 0 0%;
    }
    .help{
        padding: 2% 0% 0 0%;
    }
}